.footer {
  background: rgb(31, 28, 28);
  position: relative;
  min-height: 18rem;
}
.footerContainer {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 95vw;
}
.footerIcon {
  color: white;
  font-size: 2rem;
  margin: 0 1rem;
}
.footerText {
  padding-top: 1rem;
  text-align: center;
}
.footerText h4 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.footerText h4 span {
  color: rgb(123, 177, 69);
}
@media screen and (min-width: 992px) {
  .footerContainer {
    width: 85vw;
  }
}
