.btn {
  text-transform: uppercase;
  background: rgb(43, 165, 43);
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 200;
  transition: 0.3s linear;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: green;
  background: rgb(245, 255, 255);
}
.sectionTitle h3 {
  font-family: "Grand Hotel", "cursive";
  color: rgb(126, 163, 126);
}
.sectionTitle {
  margin-bottom: 2rem;
  text-align: center;
}

.sectionCenter {
  padding: 5rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1178px;
}
.sectionCenter::before,
.sectionCenter::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
.service {
  position: relative;
  margin: 2rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.service:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.servicePicture {
  height: 16rem;
}
.serviceImage {
  height: 100%;
}
.serviceInfo {
  height: 16rem;
  background: rgb(238, 235, 235);
  text-align: center;
  padding: 2.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .service {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
}
@media screen and (min-width: 992px) {
  .service {
    float: left;
    width: 31.3%;
    margin-right: 2%;
  }
}

.serviceIcon {
  position: absolute;
  color: green;
  z-index: 10;
  background: rgb(176, 206, 132);
  top: 50%;
  left: 50%;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  border: 0.375rem solid rgb(238, 235, 235);
}
